
*{
    padding: 0px;
    margin: 0px;
    white-space: nowrap;
}

.container {
    width: 100%;
    overflow-x: auto;
    background-color: white;
    


}

.container::-webkit-scrollbar {
    display: none;

}

.image {
    width: 200px;
    height: 250px;
    display: flex;
    gap: 20px;
    animation: scroll 5s linear infinite;

}

.picture {
    width: 200px;
    height: 250px;

}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
